.info-wrapper.rounded-3
    .info-general 
        .img
            img.avatar(src="./images/info-custome/avatar.png", alt="")
            img.icon(src="./images/icons/sim.svg", alt="")
        .customer-name 
            p Nguyễn Anh Khoa
        .customer-core 
            p Mã Khách hàng:
            .status.status--bgbrand
                span.color-black 00169235
        .customer-status.d-flex.align-items-center 
            p Tình trạng: 
            .status.status--bggreen1
                span.color-white Active
    .info-detail 
        table 
            tr 
                td Mã số thuế:
                td 031456354345
            tr 
                td Giấy chứng nhận ĐKKD:
                td
                    a(href="") 031456354345
            tr 
                td Nghành nghề KD:
                td Xây dựng
            tr 
                td Loại hình DN:
                td Công ty TNHH tư nhân
            tr 
                td Loại KH:
                td Trong nước
            tr 
                td Địa chỉ:
                td 174 Phan Đăng Lưu, Phường 3, Quận Phú Nhuận, Tp.Hồ Chí Minh
            tr 
                td Số điện thoại:
                td *******999
            tr 
                td Email:
                td anv@gmail.com
            tr 
                td Đơn vị mở CIF:
                td --
            tr 
                td Ngày mở CIF:
                td 12/10/2000
    .accessed-infor
        em.material-icons check_circle_outline
        span Đã xác thực KYC tại quầy
    a.btn.btn-default(href="yeu-cau-den.html") 
        span Yêu cầu cần xử lý (02)
