#reGuLar.popup-detail.regular 
    .panel
        .panel-heading
            h1.heading.text-center.fw-bold Thông báo 
            h2 Công ty TNHH Tấc Đất Tấc Vàng 
            p Đã đăng ký sử dụng Di-Payroll tại 
        .panel-body
            .wrap-table
                table 
                    tr
                        th
                            p STT
                                a(href="") 
                                    img(src="./images/icons/unfold_more.svg", alt="")
                        th
                            p Chi nhánh Phòng Giao Dịch HDBank
                        th
                            p CBVN quản lý
                    tr
                        td
                            p 1
                        td
                            p PGD Lê Văn Sỹ
                        td
                            p HD018546 - Chu Vĩnh Hưng
                    tr
                        td
                            p 2
                        td
                            p CN Vĩnh Long
                        td
                            p  HD011252 - Lò Văn Nọ
                    tr
                        td
                            p 3
                        td
                            p CN Tây Ninh
                        td
                            p HD052369 - Thịnh Văn Tình
                p.desc.mt-4.mb-4 Xác nhận đăng ký dịch vụ Di-Payroll tại CN/PGD hiện tại?
        .panel-footer.d-flex.align-items-center.justify-content-center.pt-4
            a.btn.btn-small.bg-gray.rounded-1(href="") 
                img(src="./images/icons/close.svg", alt="")
                span.ms-2.fw-bold.color-black Đóng
            a.btn.btn-small.bg-yellow.rounded-1.ms-3(href="dang-ky-dich-vu-chi-luong.html") 
                img(src="./images/icons/check.svg", alt="")
                span.ms-2.fw-bold.color-black Đồng ý
