#sidebar-nav
    .sidebar
        ul.side-nav
            li.side-item.active
                a(href="") 
                    img.icon(src="./images/icons/sidebar-1.svg", alt="")
            li.side-item
                a(href="mo-tai-khoan-so-dep.html") 
                    img.icon(src="./images/icons/sidebar-11.svg", alt="" )
                    span Mở tài khoản
            li.side-item
                a(href="") 
                    img.icon(src="./images/icons/sidebar-3.svg", alt="")
                    span TK tiết kiệm
            li.side-item
                a(href="nop-tien.html")
                    img.icon(src="./images/icons/sidebar-4.svg", alt="")
                    span Nộp tiền
            li.side-item
                a(href="rut-tien.html")
                    img.icon(src="./images/icons/sidebar-5.svg", alt="")
                    span Rút tiền
            li.side-item
                a(href="")
                    img.icon(src="./images/icons/sidebar-6.svg", alt="")
                    span Mở thẻ 
            li.side-item
                a(href="")
                    img.icon(src="./images/icons/sidebar-7.svg", alt="")
                    span Gọi khách hàng 
            li.side-item
                a(href="dang-ky-dich-vu-chi-luong.html")
                    img.icon(src="./images/icons/sidebar-15.svg", alt="")
                    span Di-Payroll
            li.side-item
                a(href="")
                    img.icon(src="./images/icons/sidebar-8.svg", alt="")
                    span Yêu cầu khác
            li.side-item.dropdown
                a(href="javascript:;")
                    img.icon(src="./images/icons/sidebar-9.svg", alt="")
                    span Tất cả yêu cầu
            li.side-item
                a(href="")
                    img.icon(src="./images/icons/sidebar-12.svg", alt="")
                    span Portal training 
            li.side-item
                a(href="")
                    img.icon(src="./images/icons/sidebar-13.svg", alt="")
                    span Kiều hối
            li.side-item
                a(href="ho-so-den.html")
                    img.icon(src="./images/icons/sidebar-14.svg", alt="")
                    span Thu Phí 
        .all-reques
            span Tất cả yêu cầu
            img(src="./images/icons/right-1.svg", alt="")
        .side-dropdown 
            img.close(src="./images/icons/close.svg", alt="")
            ul.side-child
                li.side-child_item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-3.svg", alt="")
                        span TK tiết kiệm
                li.side-child_item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-4.svg", alt="")
                        span Nộp tiền
                li.side-child_item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-5.svg", alt="")
                        span Rút tiền
                li.side-child_item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-6.svg", alt="")
                        span Mở thẻ
                li.side-child_item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-7.svg", alt="")
                        span Gọi khách hàng
                li.side-child_item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-8.svg", alt="")
                        span Yêu cầu khác
    .sidebar-mega
        .sidebar-mega_header 
            .arrow-right 
                img(src="./images/icons/right.svg", alt="")
                
            .sidebar-title
                a(href="") 
                    img.icon(src="./images/icons/sidebar-1.svg", alt="")
                .back-side.d-flex.align-items-center 
                    em.material-icons arrow_back
                    span Quay lại
                form.wrap-form(action="") 
                    .form-group 
                        input.form-control(type="text" placeholder="Tìm tạo yêu cầu")
                        button
                            img(src="./images/icons/search-black.svg", alt="")
                p Tất cả các yêu cầu
        .sidebar-mega_body
            ul.side-nav
                li.side-item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-3.svg", alt="")
                        span TK tiết kiệm
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-4.svg", alt="")
                        span Nộp tiền
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-5.svg", alt="")
                        span Rút tiền
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-6.svg", alt="")
                        span Mở thẻ 
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-7.svg", alt="")
                        span Gọi khách hàng 
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-8.svg", alt="")
                        span Yêu cầu khác
                li.side-item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-2.svg", alt="")
                        span Mở CIF
                li.side-item
                    a(href="") 
                        img.icon(src="./images/icons/sidebar-3.svg", alt="")
                        span TK tiết kiệm
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-4.svg", alt="")
                        span Nộp tiền
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-5.svg", alt="")
                        span Rút tiền
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-6.svg", alt="")
                        span Mở thẻ 
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-7.svg", alt="")
                        span Gọi khách hàng 
                li.side-item
                    a(href="")
                        img.icon(src="./images/icons/sidebar-8.svg", alt="")
                        span Yêu cầu khác


