.history-list
    .history-list_header.d-flex.align-items-center.justify-content-between 
        p Transaction history
        em.material-icons expand_more

    ul.list-history 
        li.active 
            .date-time 
                p.date 13/09/2020
                p.time 14:00
            .content 
                .title 
                    p HD000772 Nguyễn Thị B - KCNTT-NHĐT - Gửi duyệt
                .sub-title 
                    p Đang xử lý
                    h3 Comment
                    input(type="text", name="" disabled value='Đồng ý')
        li 
            .date-time 
                p.date 13/09/2020
                p.time 14:00
            .content 
                .title 
                    p HD000772 Nguyễn Thị B - KCNTT-NHĐT - Gửi duyệt
                .sub-title 
                    p Đang xử lý
                    h3 Comment
                    input(type="text", name="" value='Đồng ý' disabled)
        li 
            .date-time 
                p.date 13/09/2020
                p.time 14:00
            .content 
                .title 
                    p HD000772 Nguyễn Thị B - KCNTT-NHĐT - Gửi duyệt
                .sub-title 
                    p Đang xử lý
                    h3 Comment
                    input(type="text", name="" value='Đồng ý' disabled)
        li 
            .date-time 
                p.date 13/09/2020
                p.time 14:00
            .content 
                .title 
                    p HD000772 Nguyễn Thị B - KCNTT-NHĐT - Gửi duyệt
                .sub-title 
                    p Đang xử lý
                    h3 Comment
                    input(type="text", name="" value='Đồng ý' disabled)

