extends _layout.pug

block var
	- var title = 'Đăng ký dịch vụ chi lương khách hàng doanh nghiệp'
	- var bodyClass = 'bodyPage'

block main
	include ../components/layout/search-box/index.pug
	include ../components/dangkyDVChiLuong/index.pug