section.norequest
    .wrapper-container 
        .box-content 
            img.icon(src="./images/icons/fluent-box.svg", alt="")
            .desc 
                h3 Chưa có yêu cầu nào?
                p Hãy tạo yêu cầu để xử lý công việc