section.header-menu.mb-4
    .container-fluid
        .tabs-menu
            ul.tab-list.d-flex.align-items-center
                li.active
                    a.wrapper-content.bg-red.d-flex.align-items-center(href="yeu-cau-den.html")
                        .icon 
                            img(src="./images/icons/mail.svg", alt="")
                        p.title-item Yêu cầu đến
                            span 12
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
                li
                    a.wrapper-content.bg-blue.d-flex.align-items-center(href="yeu-cau-di.html")
                        .icon 
                            img(src="./images/icons/mail-1.svg", alt="")
                        p.title-item Yêu cầu đi
                            span 95
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
                li
                    a.wrapper-content.bg-green.d-flex.align-items-center(href="luu-nhap.html")
                        .icon 
                            img(src="./images/icons/save-draft.svg", alt="")
                        p.title-item Lưu nháp
                            span 03
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
                li
                    a.wrapper-content.bg-orange.d-flex.align-items-center(href="yeu-cau-tu-khach-hang.html")
                        .icon 
                            img(src="./images/icons/mail-2.svg", alt="")
                        p.title-item Yêu cầu từ Khách hàng
                            span 07
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
