.breadcrumb-wrapper 
    ol.breadcrumb
        li.breadcrumb-item
            a(href='/') 
                img(src="./images/icons/home.svg", alt="")
                |Yêu cầu đến
        li.breadcrumb-item
            a(href='') STK 1 tháng đến hạn, STK đảm bảo cho khoản vay của doanh nghiệp, đã báo chuyên viên KHDN Lương Tiến Thạnh. Công ty sẽ chuyển tiền về thanh...
    a.back-up(href="")  
        em.material-icons arrow_back
        span Quay lại